<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<script th:src="@{/js/payment_input.js}" type="text/javascript"></script>
	<title th:text="#{title.order.payment.input}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="user order_payment_input">
	<h2 th:class="title" th:text="#{title.order.payment.input}"></h2>
	<p th:class="input_message" th:text="#{msg.order.payment.input}"></p>
	<div class="user_info_form_area">
		<!-- 修正：th:object追加、th:fieldによるラジオボタンの正規バインド -->
		<form th:action="@{/client/order/check}" th:object="${orderForm}" method="post">
			<ul class="payment_method_select">
				<li>
					<label class="radio_label">
						<input type="radio" th:field="*{payMethod}" value="1" />
						[[#{paymethod.credit.str}]]
					</label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" th:field="*{payMethod}" value="2" />
						[[#{paymethod.bank.str}]]
					</label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" th:field="*{payMethod}" value="3" />
						[[#{paymethod.onarrival.str}]]
					</label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" th:field="*{payMethod}" value="4" />
						[[#{paymethod.emoney.str}]]
					</label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" th:field="*{payMethod}" value="5" />
						[[#{paymethod.convenience.str}]]
					</label>
				</li>
			</ul>
			<input type="submit" class="btn2" value="次へ" />
		</form>
		<!-- 戻るボタン -->
		<form th:action="@{/client/order/address/input}" method="get" class="update">
			<input type="submit" class="btn4" value="戻る" />
		</form>
	</div>
</body>

</html>